body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem; /* Footer height */
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Comfortaa", cursive;
}

.card-title {
  font-weight: 1000;
  font-size: 1.25rem;
}

.card-detail-title {
  writing-mode: vertical-rl;
  /* transform: rotate(-90deg); */
  position: absolute;
  margin-left: 101%;
  font-size: xx-large;
}

.card-image {
  min-height: 7.5rem;
  max-height: 0rem;
}

h2 {
  color: #3046c5;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-img-overlay:hover .card-title{
  color: white;
    background: 
  /* url("https://image.shutterstock.com/image-vector/traditional-indian-paisley-pattern-on-600w-1726867504.jpg")
      no-repeat, */
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent);
    opacity: .75;
    background-color: #af7fdd;}

/* .row-content {
  padding: 20px 0;
  border-bottom: 1px ridge;
  min-height: 10px;

} */

#BottomText {
  position: relative;
  bottom: 4rem;
  margin-left: auto;
  margin-right: -16rem;
}
#BottomText,
.site-footer {
  padding: 15px 0;
  margin-top: 2rem;
  margin-bottom: -5rem;
  opacity: 0.85;
  color: white;
  font-size: larger;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* .navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
} */

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 4rem;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.nav-link {
  font-weight: bold;
  font-family: "Comfortaa";
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.title {
  color: rgb(44, 214, 230);
  text-indent: 7.75rem;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

#heart {
  transition: 0.1s;
  border: none;
  cursor: pointer;
  filter: grayscale(1);
}

#heart:hover {
  font-size: 2rem;
  transform: scale(1.23);
  filter: grayscale(0);
}

.darkBulb {
  color: rgb(44, 214, 230);
}

#button {
  -webkit-text-stroke: 1px rgb(56, 179, 31);
  color: black;
  position: fixed;
  border-radius: 12px;
  left: 4%;
  background-clip: text;
}

/* #BreadCrumb {
   position: absolute;
  border-radius:12px;
  left:87%;
  background-clip:text;
} */

#icon {
  font-size: 170%;
  margin-top: -1.5%;
}

#free-course {
  position: relative;
  margin-right: 200rem;
}

#social-bar {
  background-size: 2100px;
  background-image: url("https://images.surferseo.art/72645927-376a-41df-90b4-183722dca33b.jpeg");
  background-position: 90% 18%;
}

.displayList {
  color:aquamarine;
}