*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --body-bg: hsl(0, 0%, 11%);
  --shadow-color: 310deg 19% 16%;
  --shadow-elevation-low:
    1px 0.7px 1.5px hsl(var(--shadow-color) / 0.4),
    2px 1.4px 3px -0.9px hsl(var(--shadow-color) / 0.48),
    5px 3.6px 7.5px -1.9px hsl(var(--shadow-color) / 0.56);
  --shadow-elevation-medium:
    1px 0.7px 1.5px hsl(var(--shadow-color) / 0.42),
    4.4px 3.1px 6.5px -0.6px hsl(var(--shadow-color) / 0.48),
    10.6px 7.6px 15.8px -1.3px hsl(var(--shadow-color) / 0.55),
    25px 18px 37.4px -1.9px hsl(var(--shadow-color) / 0.61);
  --shadow-elevation-high:
    1px 0.7px 1.5px hsl(var(--shadow-color) / 0.44),
    11.3px 8.1px 16.9px -0.3px hsl(var(--shadow-color) / 0.48),
    21.9px 15.8px 32.8px -0.6px hsl(var(--shadow-color) / 0.52),
    36.9px 26.6px 55.3px -0.9px hsl(var(--shadow-color) / 0.56),
    60.5px 43.6px 90.6px -1.3px hsl(var(--shadow-color) / 0.6),
    96.8px 69.7px 144.9px -1.6px hsl(var(--shadow-color) / 0.64),
    150px 107.9px 224.5px -1.9px hsl(var(--shadow-color) / 0.68);
}
/* 
html {
  color-scheme: dark light;
} */

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

body {
  background: var(--body-bg);
  color: white;
  font-family: "Open Sans", sans-serif;
  position: relative;
  padding-bottom: 2.5rem;
min-height: 100%;
}

h3,
.card-body > .card-title {
    color: rgb(44, 214, 230);
}

/* .vaporWave .card-body a {
color:chartreuse
} */

.light .card-text {
  color: black;
}

/* .card-text {
  position: absolute;
  bottom: 0%;
  font-size: x-large;
} */

.card-group {
min-height: fit-content;
}

.light h1 {
color:rgb(255,190,152);
}

.course-body,
.course-intro-text
 {
  font-size: large;
}

.vaporWave h1 {
color: rgb(44, 214, 230)
}

.light h2 {
  color: white;
/* color: rgb(55, 183, 55); */
text-align:start;
}

h1,
h2,
h3,
.resource-title,
.broken-pencil,
.stroke-n-shadow {
      font-family: "helvetica", cursive;
 -webkit-text-stroke: 1px black;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.vaporWave h2 {
color: magenta;
text-align:start;
}

h3 {
  text-align: center;
}

p {
font-size:large;
}

.card-title {
  font-weight: 1000;
  font-size: 1.25rem;
}

.card-detail-title {
  writing-mode: vertical-rl;
  position: absolute;
  margin-left: 101%;
  font-size: xx-large;
}

.card-image {
  min-height: 7.5rem;
  max-height: 0rem;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-detail-image {
 object-fit: cover;
 height: 15rem; 
}

.xs-speech-card,
.speech-card,
.know-card
/* .vaporWave .know-card a:link  */
{
  height: max-content;
  font-size: larger;
position: relative;
top: 3%;
/* align-items: center; */
}

.speech-card {
top: 0%;
    /* border: 2px solid rgb(44, 214, 230); */
background-color: #FF512F;
color: FF512F;
}

.vaporWave .know-card a:link {
color: transparent;
}

.xs-speech-card {
  top: .5%;
left: 37%;
background-color: #259936;
color: FF512F;

    /* border: 2px solid rgb(44, 214, 230); */
}

.youtube-playlist
 {
  text-align: center;
  padding: 1%;
font-size: x-large;}

.you-should-let-your-teaching-shine,
.course-body,
.youtube-playlist:hover,
.card-img-overlay:hover .card-title {
    /* height: 3rem; */

  color: white;
  background: 
linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3)
    ),
    radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent);
  opacity: 0.75;
  background-color: #af7fdd;
}

/* button, */
.card,
.worldHistoryCredit,
.uSHistoryCredit,
.geographyCredit,
.governmentCredit,
.electiveCredit,
.mandatoryCredit,
.lACredit,
.credit 
{
  box-shadow: var(--shadow-elevation-medium);
      -webkit-text-stroke: 0.03rem black;
backdrop-filter: blur(4px) saturate(150%);
    /* background: linear-gradient(rgb(252, 252, 252), rgba(0, 0, 0, 0.3)); */
    }

.worldHistoryCredit,
.uSHistoryCredit,
.geographyCredit,
.governmentCredit,
.electiveCredit,
.mandatoryCredit,
.lACredit,
.credit {
          margin-right: 1rem;
}

.site-footer {
  padding: 15px 0;
    -webkit-text-stroke: .75px  rgb(44, 214, 230);
  font-size: larger;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
    position: static;
}

.light .site-footer

{
color: rgb(148, 115, 54);
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

/* .vaporWave .btn, */
.nav-link,
.vaporWave .nav-link,
.flick {
margin-left: 1.75rem;
  font-weight: bold;
  font-family: "Comfortaa";
  background-clip: text;
  -webkit-background-clip: text;
  color: rgb(44, 214, 230);
     -webkit-text-stroke: 0.001rem rgb(44, 214, 230);
            margin-top: 1rem;

}

/* .nav-link .active {
  background-color: red;
  color: #af7fdd;
} */

/* li .navbar-nav {
  background-color:var(--body-bg);
width: max-content;
} */

.collapse .navbar-nav {
backdrop-filter:unset;
}

.show .navbar-nav {
  position:sticky;
  /* background-color:hsl(var(--shadow-color) / 0.08); */
backdrop-filter: blur(4px) saturate(150%);
width:max-content;
    border: 2px solid rgb(44, 214, 230);
    /* align-items: center; */
  }

  .light .show .navbar-nav {
    border: 2px solid rgb(169, 209, 234);
    /* align-items: center; */
  }

  .navbar-text {
    position: fixed;
    top:0rem;
    right:0rem;
      background-clip: text;
  -webkit-background-clip: text;
     -webkit-text-stroke: 0.09rem rgb(255,190,152);
  }

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.title,
.title-xxl,
.title-xl,
.title-md-l,
.title-xs-sm,
/* .btn, */
.nav-link
  {
    
    color: rgb(255,190,152);
    font-family: "Comfortaa", cursive;
  background-clip: text;
  -webkit-background-clip: text;
     -webkit-text-stroke: 0.09rem rgb(255,190,152);

}

/* .btn, */
.nav-link {
  font-weight: bolder;
     color: orange;
    font-family: "Comfortaa", cursive;
  background-clip: text;
  -webkit-background-clip: text;
     -webkit-text-stroke: 0.09rem orange;
  }

.vaporwave-title
{
color: magenta;
     -webkit-text-stroke: 0.09rem magenta;
}

.title-xxl {
  text-indent: 215%;
}

.title-xl {
  text-indent: 120%;
}

.title-md-l {
  text-indent: 110%;
}

.title-xs-sm {
  text-indent: 65%;
     font-size: 2rem;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

#heart {
  transition: 0.1s;
  border: none;
  cursor: pointer;
  filter: grayscale(1);
}

#heart:hover {
  font-size: 2rem;
  transform: scale(1.23);
  filter: grayscale(0);
}

#button,
#bulbBanner,
.darkBulb {
  position: fixed;
    font-size: x-large;
z-index: 10;
  top: 6.9rem;
  left: 1rem;
  color: rgb(44, 214, 230);
    -webkit-text-stroke: 1px rgb(218, 236, 17);
  border-radius: 20px;
}

.light #button {
  top: 6.2rem;
  left: .5rem;
  background-color: transparent;
  border-color: transparent;
    border-radius: 30px;

}

#icon {
  font-size: 170%;
  margin-top: -1.5%;
}

#free-course {
  position: relative;
  margin-right: 200rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#social-bar {
  background-size: 2100px;
  background-image: url("https://images.surferseo.art/72645927-376a-41df-90b4-183722dca33b.jpeg");
  background-position: 90% 18%;
}

.displayList {
  display: grid;
      gap: 1rem;
  max-width: auto;
}

.dispaly-card-image {
  position:relative;
  border: 4px solid black;
  height: min-content;
  object-fit: contain;
}

.vaporWave .dispaly-card-image {
    border: 4px solid rgb(44, 214, 230);
}
.dispaly-card-intro {
  max-height: 1rem;
font-size: small;
color: #ec008c;
}

.dispaly-card-group {
padding-bottom: .5rem;
}

#TeachersLounge {
     /* height: 90%;
     background-color: aqua; */
}

.diaganol {
  --diaganol-color:var(--body-bg)
  padding: 1rem;
  --skew-angle: -5deg;
  position: relative;
  isolation: isolate;
  margin-top: 5rem;
  background: transparent;
}

.diaganol::after {
  content: "";
  margin-top: 0.001rem;
  padding-top: 1rem;
  background: linear-gradient(
    25deg,
    rgb(54, 87, 153),
    rgb(108, 49, 108),
    rgb(129, 39, 39)
  );
  position: absolute;
  inset: 0;
  transform: skewY(var(--skew-angle));
  z-index: -1;
}

#dream {
  color: rgb(47, 209, 87);
    -webkit-text-stroke: 0.02rem #111ac8;

}

.course-links-container,
.comments 
{
  z-index: 10;
    background:
    linear-gradient(white, rgba(0, 0, 0, 0.3));  padding:1rem;
    border: 2px solid black;
}

.spikes {
  --spike-color: var(--body-bg);
position: relative;
height: 100px
}

.spikes::before,
.spikes::after { 
content: '';
position: absolute;
background-attachment:fixed;
width: 100%;
height: 50 px;
background: var(--spike-color);
-webkkit-mask-image: url('app/assets/img/triangle.svg');
mask-image: url('app/assets/img/triangle.svg');
 }

 .spikes::before {
top: 0;
 }

  .spikes::after {
  bottom: 0;
  transform: rotate(.5turn);
 }

.teach-league-logo {
   position: absolute;
  opacity: 0.85; 
  -webkit-mask-image: url('./app/assets/img/TLLogo.svg');
  mask-image: url('./app/assets/img/TLLogo.svg');
      width: 10%;
      height: 115%;
}

.vaporWave .resources-list {
  position: relative;
  padding-bottom: 2rem;
     background: 
  url("./app/assets/img/Blue-Aesthetic-PNG.png")
      no-repeat, linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3)
    )
    ,
    radial-gradient(ellipse at top, #ec008c, transparent);
  background-position: -3rem -5rem;
  border: 2px solid rgb(44, 214, 230);
  color: magenta;
}

.light .resources-list {
  padding-bottom: 2rem;
   box-shadow: var(--shadow-elevation-low);
      -webkit-text-stroke: 0.03rem black;

     background: 
  url("./app/assets/img/kisspng-green-paint-brushes-watercolor-painting-light-7-light-green-watercolor-brush-stroke-png-transpa-5cfe874fbf4a88.1910132315601846557835.png")
      no-repeat, linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3)
    );
  background-position: 0rem 0rem;
  background-size: 85%;

  border: 2px solid black;
}

.resource-img {
position:relative;
margin-top: 5%;
/* margin-left: 2rem; */
z-index: 10;
border: 2px solid black;
}

.resource-img  {
  position:relative;
  /* top: 15%; */
  border: 4px solid black;
  /* bottom: 50%; */
  /* max-width: 100%; */
  /* height: auto; */
  /* height: min-content; */
  object-fit: contain;
}

.light .resource-img  {
  /* position: absolute; */
  border: 4px solid black;
  /* right: 5%; */
}

.vaporWave .resource-img  { 
  border: 4px solid rgb(44, 214, 230);
}

.resource-title
 {
/* text-align:center;   */
font-weight: 1000;
  font-size: 2.25rem;
  /* margin-left: 15%; */
  /* background-color: transparent; */
}

.take {
  /* position:sticky; */
  top: 0%;
  left: 25%;
  height: fit-content;
}

.take-subheading {
font-size: x-large;
}

.CardGroup {
  border: 2px solid rgb(44, 214, 230);
}

.shine {
  position: absolute;
top: 5rem;
color: yellow;
      -webkit-text-stroke: 0.03rem black;
margin-left: 1.75rem;

}

.load-courses-buttons {
position: relative;
left: 30%;
}

.build-community {
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}

 .copy-button {
    all: initial;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */

/* margin-left: 1.75rem; */
  /* font-weight: bold; */
  /* font-family: "Comfortaa"; */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* color: rgb(44, 214, 230); */
     /* -webkit-text-stroke: 0.001rem rgb(44, 214, 230); */
/* background-color: #111ac8;
  color: blue; */
  /* border: 2px solid #04AA6D; */
  /* gap: 12rem; */
}

/* button,
.btn {
  background-color:blue;
  color: blue
} */

/* .btn-danger
{
  color: #fc6767;
  background-color: blue;
} */

.register-message {
  color: black;
  text-align: center;
}

.register-envelope {
  color:rgb(51,102,204);
  text-align: center;
}

.Not-Just-You {
    position: absolute;
  top: 5%;
text-align: center; 
color: rgb(233, 132, 182);
font-size: 3rem;
}

.broken-pencil {
        font-family: "helvetica", cursive;
  min-height: 25rem;
  width: 50%;
background-size: 800px;
  background-image:   url("./app/assets/img/broken-pencil.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* animation: fade-in linear;
  animation-timeline: view(); */
}

.broken-pencil-section{
   /* height: 100svh; */
/* background-color: #af7fdd; */
/* color: #af7fdd; */
}

.Hard-for-Educators {
  position: inline;
  /* top: 12%; */
font-size: 4rem;
text-align: center;
}

#Hard-for-Educators-Subsection {
left:5%;
border-radius: 5%;
font-size: 1.8rem;
text-align: center;
/* margin-left: 5rem;
margin-right: 5rem;
padding-left: 5rem; */
font-weight: 700;}

.hero-button {
  position: absolute;
/* right: 45%; */
/* top: 10%; */
  /* margin: 10px; */
  padding: 15px 30px;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.vaporWave .hero-button {
 color: white;
   /* box-shadow: 0px 0px 14px -7px #c9c0b3; */
  background-image: 
linear-gradient(
  45deg, #ec008c 0%, #fc6767  51%, transparent  100%
      /* rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3)
    )
    ,
    radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent */
    );
  opacity: 0.75;
  background-color: #af7fdd;
}

.hero-button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.hero-button:active {
  transform: scale(0.95);
}

 #intro-info {
      position: relative; 
     /* height: 100svh; */
     /* background-color: #ec008c; */
     /* z-index: -100; */
     padding-top: 10%;
     margin-bottom: 6%;
     padding-bottom: 0%;
     padding-left: 5%;
        -webkit-text-stroke: .5px rgb(242, 59, 190);
        color: black;
        font-family:'Courier New', Courier, monospace;
          border-bottom: 1px solid magenta;

}

 #intro-info::before {
      content: "";
            position: absolute;
            background-size: cover;
              top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
    background-size: 700px;
  background-image:   url("./app/assets/img/fist-with-pencil.png");
    background-repeat: no-repeat;
    background-position: 15% 95%;
    z-index: -10;
 }
.vaporWave #intro-info {
       color:rgb(44, 214, 230);

}

/* .intro-info-bg {
    opacity: .9;
    background-size: 700px;
  background-image:   url("./app/assets/img/fist-with-pencil.png");
    background-repeat: no-repeat;
    background-position: 15% 95%;
} */
.fist-with-pencil {
  
}

.intro-button {
top: 45%;
}

#enough {
        font-family: "helvetica", cursive;
color: rgb(255,190,152);
  /* min-height: 19rem; */
  /* width: 35rem; */
    background-size: 1210px;
  background-image:   url("./app/assets/img/crumpled_paper.png");
    background-repeat: no-repeat;
  text-align: center;
  font-size: 4rem;
  background-position: 50% 50%;
       padding-bottom: 10%;

     /* height: 100svh; */
/* background-color: #fc6767; */
}

.crumple {
  position:static;
  height: 10rem;
  font-weight: bold;
font-size: 3.7rem;
  color:black;
        /* -webkit-text-stroke: 0.03rem white; */

   color: white;
   -webkit-text-stroke: 1px black;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.xs-lounge-button {
top: 8%;
left: 8%
}

.xs-get-schooled-button {
top: 8%;
right: 0%;
}

.sm-md-lounge-button {
top: 8%;
left: 8%
}

.sm-md-get-schooled-button {
top: 8%;
right: 12%;
}

.lg-lounge-button {
top: 10%;
left: 20%
}

.lg-get-schooled-button {
top: 10%;
right: 20%;
}

.xl-xxl-lounge-button {
top: 12%;
left: 33%
}

.xl-xxl-get-schooled-button {
  /* position: absolute;
  width: 4rem; */
  /* padding: 10px 24px; */
  /* border-radius: 12px; */
top: 12%;
/* left: 60%; */
right: 29%;
}

#BreadCrumb {
  position: relative;
  top: .15rem;;
  left: 2rem;
width: 95%;  
}

.light .∞-learning {
  position: absolute;
  bottom:2.5rem;
  left: 3rem;
  text-align: left;
  color: red;
}

.vaporWave .∞-learning {
  position: absolute;
  bottom: -3.5rem;
  left: 3rem;
  text-align: left;
  color: purple;
}

/* .sharetoclassroom {
  position: absolute;
  top: 210rem;
  right: 10%;
} */

.row-content {

}

.dt-and-archive-label {
  margin-top: 5rem;
  text-align: center;
}

.dt-and-archive-label-subheadings {
}

.you-should-let-your-teaching-shine {
max-width: fit-content;
margin-left: 25%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}