*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --body-bg: hsl(0, 0%, 11%);
  --shadow-color: 310deg 19% 16%;
  --shadow-elevation-low:
    1px 0.7px 1.5px hsl(var(--shadow-color) / 0.4),
    2px 1.4px 3px -0.9px hsl(var(--shadow-color) / 0.48),
    5px 3.6px 7.5px -1.9px hsl(var(--shadow-color) / 0.56);
  --shadow-elevation-medium:
    1px 0.7px 1.5px hsl(var(--shadow-color) / 0.42),
    4.4px 3.1px 6.5px -0.6px hsl(var(--shadow-color) / 0.48),
    10.6px 7.6px 15.8px -1.3px hsl(var(--shadow-color) / 0.55),
    25px 18px 37.4px -1.9px hsl(var(--shadow-color) / 0.61);
  --shadow-elevation-high:
    1px 0.7px 1.5px hsl(var(--shadow-color) / 0.44),
    11.3px 8.1px 16.9px -0.3px hsl(var(--shadow-color) / 0.48),
    21.9px 15.8px 32.8px -0.6px hsl(var(--shadow-color) / 0.52),
    36.9px 26.6px 55.3px -0.9px hsl(var(--shadow-color) / 0.56),
    60.5px 43.6px 90.6px -1.3px hsl(var(--shadow-color) / 0.6),
    96.8px 69.7px 144.9px -1.6px hsl(var(--shadow-color) / 0.64),
    150px 107.9px 224.5px -1.9px hsl(var(--shadow-color) / 0.68);
}

html {
  color-scheme: dark light;
}

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

body {
  background: var(--body-bg);
  color: white;
  font-family: "Open Sans", sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem; /* Footer height */
}

h1,
h2,
h3,
.card-body > .card-title {
  /* font-family: "Comfortaa", cursive; */
    color: rgb(44, 214, 230);
}

h3 {
  text-align: center;
}

.card {

}

.card-title {
  font-weight: 1000;
  font-size: 1.25rem;
}

.card-detail-title {
  writing-mode: vertical-rl;
  /* transform: rotate(-90deg); */
  position: absolute;
  margin-left: 101%;
  font-size: xx-large;
}

/* .card-detail-image {
margin-top: 1%;
border-style:ridge;
border-color: var(--diaganol-color);
} */

.card-image {
  min-height: 7.5rem;
  max-height: 0rem;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-img-overlay:hover .card-title {
  color: white;
  background: 
  /* url("https://image.shutterstock.com/image-vector/traditional-indian-paisley-pattern-on-600w-1726867504.jpg")
      no-repeat, */ linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3)
    ),
    radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent);
  opacity: 0.75;
  background-color: #af7fdd;
}

/* .card-body,
.card-image, */
/* .card-title, */
/* .comments, */
/* #BreadCrumb, */
.card,
.worldHistoryCredit,
.uSHistoryCredit,
.geographyCredit,
.governmentCredit,
.electiveCredit,
.mandatoryCredit,
.lACredit,
.credit 
{
  box-shadow: var(--shadow-elevation-medium);
      -webkit-text-stroke: 0.03rem black;

    background: linear-gradient(rgb(252, 252, 252), rgba(0, 0, 0, 0.3));
          /* margin-right: 1rem; */

      /* --shadow-color: hsl(220deg 60% 50%);

    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075) */
    ;}
/* .row-content {
  padding: 20px 0;
  border-bottom: 1px ridge;
  min-height: 10px;

} */

.worldHistoryCredit,
.uSHistoryCredit,
.geographyCredit,
.governmentCredit,
.electiveCredit,
.mandatoryCredit,
.lACredit,
.credit {
          margin-right: 1rem;
}

#BottomText {
  position: relative;
  bottom: 4rem;
  margin-left: auto;
  margin-right: -16rem;
}
#BottomText,
.site-footer {
  padding: 15px 0;
  margin-top: 2rem;
  margin-bottom: -5rem;
  opacity: 0.85;
  color: white;
  font-size: larger;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* .navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
} */

.navbar-brand img {
  /* width: 100%;
  height: 100%; */
  /* margin-right: 1rem; */
  max-width: 4rem;
    fill: green;
    /* url('./app/assets//img/vaporwaveTrees.png'); */

}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.vaporWave .btn,
.vaporWave .nav-link,
.flick {

  font-weight: bold;
  font-family: "Comfortaa";
  background-clip: text;
  -webkit-background-clip: text;
  color: rgb(44, 214, 230);
    /* -webkit-text-stroke: .75px  rgb(44, 214, 230); */
     -webkit-text-stroke: 0.09rem rgb(44, 214, 230);
  /* background: #111ac8; */
}

.nav-link {
  margin-top: .75rem;
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.title,
.title-xxl,
.title-xl,
.title-md-l,
.title-xs-sm,
.btn,
.nav-link
  {
    
    color: orange;
    font-family: "Comfortaa", cursive;
          /* -webkit-text-stroke: 0.1rem orangered; */
            /* font-weight: bold; */
  font-family: "Comfortaa";
  background-clip: text;
  -webkit-background-clip: text;
     -webkit-text-stroke: 0.09rem orange;

}

.btn,
.nav-link {
  font-weight: bolder;
  /* color: orange; */
   -webkit-text-stroke: .75px darkgreen;
  }
.vaporwave-title
{
color: magenta;
/* background-color: rgb(31, 120, 197); */
}

.title-xxl {
  text-indent: 215%;
}

.title-xl {
  text-indent: 120%;
}

.title-md-l {
  text-indent: 110%;
}

.title-xs-sm {
  text-indent: 65%;
     font-size: 2rem;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

#heart {
  transition: 0.1s;
  border: none;
  cursor: pointer;
  filter: grayscale(1);
}

#heart:hover {
  font-size: 2rem;
  transform: scale(1.23);
  filter: grayscale(0);
}

#button,
#bulbBanner,
.darkBulb {
  position: fixed;
  /* left: 1rem; */
  color: rgb(44, 214, 230);
}

#button {
  -webkit-text-stroke: 1px rgb(218, 236, 17);
  /* color: black; */
  /* position: fixed; */
  border-radius: 12px;
  /* left: 4%; */
  background-clip: text;
  color: transparent;
}

/* #BreadCrumb {
   position: absolute;
  border-radius:12px;
  left:87%;
  background-clip:text;
} */

#icon {
  font-size: 170%;
  margin-top: -1.5%;
}

#free-course {
  position: relative;
  margin-right: 200rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#social-bar {
  background-size: 2100px;
  background-image: url("https://images.surferseo.art/72645927-376a-41df-90b4-183722dca33b.jpeg");
  background-position: 90% 18%;
}

.displayList {
  display: grid;
      gap: 1rem;
            grid-template-columns: 1fr 1fr 1fr 1fr; 

  /* background-color: aquamarine; */
  /* max-height: .5rem; */
  /* gap: 0%; */
  max-width: auto;
  /* height: 100%; */
  /* object-fit:; */
}

.display-boxes {
    background-color: aquamarine;
   border: 4px solid black; 
            background-color: red; 
            height: 30vh;
/* flex-basis: 50%; */
/* display: inline-block; */
/* height: auto; */
}

.diaganol {
  --diaganol-color:var(--body-bg)
  padding: 1rem;
  --skew-angle: -5deg;
  position: relative;
  isolation: isolate;
  margin-top: 5rem;
  background: transparent;
}

.diaganol::after {
  content: "";
  margin-top: 0.001rem;
  padding-top: 1rem;
  background: linear-gradient(
    25deg,
    rgb(54, 87, 153),
    rgb(108, 49, 108),
    rgb(129, 39, 39)
  );
  position: absolute;
  inset: 0;
  transform: skewY(var(--skew-angle));
  z-index: -1;
}

#dream {
  color: rgb(47, 209, 87);
    -webkit-text-stroke: 0.02rem #111ac8;

}

/* .theTeachersLounge {
  height: .5rem;
  background-color: #ec008c;
} */

.comments {
 /* box-shadow: var(--shadow-elevation-medium); */
    background:
    linear-gradient(white, rgba(0, 0, 0, 0.3));  padding:1rem;
}

/* .header-banner {
  background-image: url("app/assets/img/statue-with-halo.jpg");;
} */

.spikes {
  --spike-color: var(--body-bg);
position: relative;
/* background: #af7fdd; */
height: 100px
}

.spikes::before,
.spikes::after { 
content: '';
position: absolute;
width: 100%;
height: 50 px;
background: var(--spike-color);
-webkkit-mask-image: url('app/assets/img/triangle.svg');
mask-image: url('app/assets/img/triangle.svg');
 }

 .spikes::before {
top: 0;
 }

  .spikes::after {
  bottom: 0;
  transform: rotate(.5turn);
 }

 /* .float-start {
  background: #af7fdd;
  color: green;
 } */

.teach-league-logo {
   position: absolute;

  /* position: relative;
  color: white;
background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent);   */
    /*
    
    margin-top: 0rem;
  top: -4rem;
  left: -2rem;
  z-index: 1;*/
  opacity: 0.85; 
  -webkit-mask-image: url('./app/assets/img/TLLogo.svg');
  mask-image: url('./app/assets/img/TLLogo.svg');
  /* background: url('./app/assets/img/Color-Explosion.png'); */
  /* fill: #ec008c; */
  /* background: #901cad; */
  /* background-position: 0% 75%; */
    /* background-size: 1000%; */
      width: 10%;
      height: 70%;
/* margin-right: 3rem; */
  /* background-position: -2.5% 45%; */
/* stroke-width: 5x #af1ad4; */
}