#programmingColor {
  content: "";
    box-shadow: inset 0 0 0 1000px rgba(60, 8, 232, 0.2);

  background: 
  url("https://as1.ftcdn.net/v2/jpg/02/38/22/66/1000_F_238226669_2e3HdJV5zB9LKE2RWaWoDN692MLSnv4g.jpg");
  background-size: 500px;
  background-size:cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -70px;
  opacity: 0.75;
  z-index: -10;
}