.worldHistoryCredit {
  color: blue;
}

.uSHistoryCredit {
  color: red;
}

.geographyCredit {
  color: green;
}

.governmentCredit {
  color: purple;
}

.electiveCredit {
  color: violet;
}

.mandatoryCredit {
  color: black;
}

.lACredit {
  color: orange;
}

.worldHistoryCredit,
.uSHistoryCredit,
.geographyCredit,
.governmentCredit,
.electiveCredit,
.mandatoryCredit,
.lACredit,
.credit {
text-align: center;  
font-size: 1.5rem;
  position: relative;
  border: thick double;
  margin-right: 1%;
  box-shadow: inset 0 0 0 1000px rgba(24, 27, 25, 0.394);
}
