.worldHistoryCredit
{
  color: blue;
}

.uSHistoryCredit
{
  color: red;
}

.geographyCredit
{
  color: green;
}

.governmentCredit
{
  color: purple;
}

.electiveCredit
{
  color:violet;
}

.mandatoryCredit
{
  color: black;
}

.lACredit
{
  color: orange;
}

.worldHistoryCredit,
.uSHistoryCredit,
.geographyCredit,
.governmentCredit,
.electiveCredit,
.mandatoryCredit,
.lACredit,
.credit {
  font-size: 1.5rem;
    position: relative;
  border: thick double;
  margin-right: 1%;
}
