.vaporWave .card-body {
 background-size: cover;
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/003/363/668/original/beautiful-palm-tree-leaf-silhouette-seamless-pattern-background-free-vector.jpg"); */
  background-position: 95% 80%;
  background-clip:content-box;
  opacity:.75;
  background: -moz-linear-gradient(to bottom, #FFFFFF, #0099ff);
  background: linear-gradient(to bottom, #FFFFFF, #0099ff);

}

.vaporWave {
  background-color: #333;
  /* color:darkviolet; */
  opacity: 2;
  color: rgb(113, 22, 153, 1)

}

.vaporWave .card-header {
  background-color: black;
  color: white;
}

 .vaporWave #social-bar {
    background-size: 2005px;
  background-image: url("https://images.surferseo.art/72645927-376a-41df-90b4-183722dca33b.jpeg");
  background-position: 95% 20%;
} 

.light .card-header {
 background-color: #3046c5; 
color: white;
}

 .vaporWave .site-footer {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    radial-gradient(ellipse at top, #f90497, transparent),
    radial-gradient(ellipse at bottom, #d1c3b2, transparent);
  }

   .light .site-footer {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    radial-gradient(ellipse at top, blue, transparent),
    radial-gradient(ellipse at bottom, red, transparent);
  }

/* #vaporwaveTrees {
  position:absolute;
  margin-top: 0rem;
  top: -4rem;
  left:-2rem;
  z-index:-10%;
} */

#bulbBanner {
  color:#000;
  /* background-color: #901cad;
  min-height: 1rem;
  min-width: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid rgb(0, 0, 0);
  background:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent); */
    /* background-position: cover; */
    /* width:auto; */
    position: absolute;
    left: 9rem;
    top: 7rem;
  }

.vaporWave .navbar-dark {
  background-color: #901cad;
  height: 5rem;
  min-width: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid rgb(0, 0, 0);
  background: url("https://cdn.xxl.thumbs.canstockphoto.com/abstract-davids-bust-with-neon-gloving-light-on-grid-background-banner-design-retrowave-stock-photograph_csp69193594.jpg")
     no-repeat,
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent);
    background-position: 0% 50%;
    width:auto;
  /* margin-bottom: 2rem; */
  min-height: 2rem;
}

.light .navbar-dark {
 background-color: #901cad;
  height: 5rem;
  min-width: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid rgb(0, 0, 0);
  /* background: url("https://img.favpng.com/24/11/11/student-course-credit-college-education-png-favpng-bRiYYiqBA0qUmELiwk5n29hD0_t.jpg") */
  background: url("https://cdn.pixabay.com/photo/2016/10/18/20/33/bookshelves-1751334_1280.png")
     no-repeat,
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    radial-gradient( ellipse at 25%, blue, transparent),
        radial-gradient(ellipse at 75% bottom, red, transparent),
    radial-gradient(ellipse at 33% bottom, red, transparent);
    background-position: -00% 55%;
    width:auto;
  /* margin-bottom: 2rem; */
  min-height: 2rem;
}

 .vaporWave #icon {
  color: initial;
}