.vaporWave {
  background-color: #333;
  color:darkviolet;
}

.vaporWave .card-body {
  background-color: darkgray;
color: purple;
}

.vaporWave .card-header {
  background-color: black;
  color: white;
}

.light .card-header {
 background-color: #3046c5; 
color: white;
}